*{
    margin: 0;
    font-family: 'Roboto', Courier, monospace;
    box-sizing: border-box;
}

:root{
    --brighter: #ecfdf5;
    --light: #dcfce7;
    --medium: #10b981;
    --dark: #065f46;
    --darkerOne: #064e3b;
    --darkerTwo: #14532d;
    
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 15vh 1fr;
    overflow: none;
    width: 100vw;
    height: 100vh;
}

h2{
    font-size: 1.5rem;
    padding-top: 15px;
    margin: 0;
    color: var(--darkerTwo);
}

header{
    background-color: white;
    height: 15vh;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 15px 10px -15px #111; 
}

.header{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.down > *, .up > *{
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search > input{
    height: 1.4rem;
    width: 40vw;
    margin-top: 5px;
    margin-left: 5px;
    background-color: var(--light);
    border: var(--dark) 2px solid;
}

.greeting{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.search > input{
    border-radius: 16px;
}


.sidebar{
    background-color: var(--medium);
    overflow: none;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: white;
    font-size: 1.25rem;
    display: grid;
    grid-template-rows: 80px 300px 250px 1fr;
    justify-content: left;
    position: sticky;
    overflow: none;
}

.sidebar-section{
    color: white;
    margin: 20px 15px;
    font-size: 1em;
}

.sidebar-section > ul > li:hover{
    font-size: 1.05em;
}

ul, li { /* reset the margin and padding */
    margin: 0;
    padding: 0;
}

.sidebar-section > ul > li {
    list-style: none;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

main{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 5fr 2fr;

    background-color: var(--light);
}

.projects{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projects > h2{
    position: relative;
    left: 15px;
    margin-bottom: 10px;
}

.container-cards{
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
}

.card{
    background-color: var(--brighter);
    border-radius: 5%;
    margin: 15px;
    padding: 15px;
    border: #064e3b solid 1.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > .icons{
    color: var(--darkerOne);
    text-align: right;
    font-size: 1.2rem;
}

.card > .icons > i:hover{
    color: var(--medium);
}

.text > h3, .card > h3{
    color: var(--darkerOne);
    --darkerTwo: #14532d;
    margin: 5px 0;
}

.text > p, .card > p {
    color: var(--dark);
}

.small{
    font-size: 0.8rem;
    padding: 20px;
    height: auto;
}



.announcements{
    grid-column: 2 / 3;
}

.trending{
    grid-column: 2 / 3;
    position: relative;
}

.trending > .card

.profile{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 5px;
}

.profile-text > h2{
    padding-top: 0;
}

.profile-text > h5{
    color: var(--dark);
}

img{
    width: 45px;
    border-radius: 50%;
    position: relative;
    right: 10px;
}

.buttons{
    display: flex;
}

button{
    background-color:var(--medium);
    color: #fff;
    border:none;
    border-radius:10px;
    margin: 0 2vh;
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
}